---
import "../styles/global.css";
import { ExploreSection } from "@/components/explore/ExploreSection";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Explore The Paths</title>
  </head>
  <body class="bg-gray-900">
    <ExploreSection client:load />
  </body>
</html>
